########################################
# SQL — mbetet SQL në emër
########################################
*.sql linguist-detectable=true
*.sql linguist-language=SQL

########################################
# HACK — përdor YAML ngjyrën (blu)
# për me e marrë SQL-in atë ngjyrë
########################################
*.sqli linguist-detectable=true
*.sqli linguist-language=YAML

# Bashko ngjyrën e hack file-it me SQL
*.sqli linguist-language=SQL

